<!DOCTYPE html>
<html>

<head>
    <title>文章管理</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dataTable/css/jquery.dataTables.css" rel="stylesheet" media="screen">
    <link href="/css/theme.css" rel="stylesheet" type="text/css" />

    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/dataTable/js/jquery.dataTables.js"></script>
    <script src="/js/tools.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/js.cookie.js"></script>
    <script type="text/javascript" src="/js/cookie-tools.js"></script>
</head>

<body>
    <div style="border-bottom: solid 1px rgba(200,200,200,0.1); margin-top: 5px;margin-bottom:3px;"></div>
 
 
  <div>
    <div class="nav navbar-header"><h3>文章列表</h3></div>

    <div class="nav navbar-right" style="padding-right: 30px;padding-top: 10px">
        <a class="btn btn-default btn-primary" href="/addArticle/{{ .COMPANY }}">录入文章</a>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <style type="text/css">
    table tbody tr td{
      text-align:center;
      line-height: 25px;
      vertical-align:middle；
    }
  </style>
  <table id="dtProcess" class="table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th style="width:5%">&nbsp;</th>
        <th style="width:5%">封面</th>
        <th>文章名称</th>
        <th style="width:7%">作者</th>
        <th style="width:10%">来源</th>
        <th style="width:10%">上传时间</th>
        <th style="width:10%">到期时间</th>
        <th style="width:18%">操作</th>
      </tr>
    </thead>
  </table>
    <script type="text/javascript">
        var company = getCookieValueEscaped('name');
        var table = null
        $(function() {
            table = $('#dtProcess').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有检索到数据"
                },
                "bPaginate": true,
                "bLengthChange":false,
                "ordering": false,
                "info": true,
                "searching": true,
                "ajax": {
                    "url": "/api/v1/article/articles/" + company,
                    "dataSrc": "data"
                },
                "columns": [{
                    "data": "uid"
                }, {
                    "data": "coverImage"
                }, {
                    "data": "name"
                }, {
                    "data": "author"
                }, {
                    "data": "publisher"
                }, {
                    "data": "createTime"
                }, {
                    "data": "endTime"
                }]
                ,
                "columnDefs": [
                    {
                      "targets": [0],
                      //"data": "coverImage",
                      "render": function(data, type, full) {
                        return "<input type='checkbox' value='" + data + "' />";
                      }
                    },
                    {
                      "targets": [1],
                      //"data": "coverImage",
                      "render": function(data, type, full) {
                        return "<img class='img-repositive' style='max-height:60px' src='" + data + "' />";
                      }
                    },
                    {
                      "targets": [7],
                      "data": "name",
                      "render": function(data, type, full) {
                        return "<span><a href=\"/editArticle/{{ .COMPANY }}/" + data + "\">编辑</a>&nbsp;<a href=\"\">推送</a>&nbsp;<a href=\"\">删除</a>&nbsp;&nbsp;&nbsp;<a href=\"\">阅读时间</a></span>";
                      }
                    }
                ]
            });
        })
    </script>
</body>
</html>
