<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/site.ico"><!--todo 根据不同项目设置不同的网站图标 or 替换图标为指定名称-->

    <title>延安党员小书包学习管理系统</title><!--todo 根据不同项目设置不同的title-->

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/sticky-footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <base target="frmcontent">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top"  style="background:url(/img/title.png); color:#FFFFFF;height:66px;max-height: 66px">
    <!--todo 根据设置使用指定的顶端背景-->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h3><img src="/img/bag-white.png" class="img-responsive" alt="logo" style="display: inline;max-height: 45px">延安党员小书包学习管理系统</h3>
          <!--todo 根据不同项目设置不同的标题栏-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <img class="img-circle img-responsive" src="/img/default_avatar.png" alt="avator" style="margin-top: 10px;max-width: 50px">
            </li>
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;超级管理员<a class="navbar-link" href="#" style="color: #FFFFFF" target="_self">欢迎您，XXX</a>
              <!--todo 根据不同的用户，显示不同的等级及用户名-->
            </li>
            <li><br><a class="navbar-link" href="login" style="color: #FFFFFF" target="_self" onclick="javascript:location.replace(this.href); event.returnValue=false;">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <style type="text/css">
      ul.textalign
      {
        padding-left: 20px;
        margin-bottom: 3px;
        /*text-align:center;*/
      }
      div.sidebar hr{
        margin: 1px;
        padding: 1px;
        height: 5px;
        max-height: 5px
      }
    </style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <hr>
          <ul class="nav nav-sidebar" style="margin-bottom: 3px">
            <li><a href="" target="_self"><img class="img-responsive" src="/img/home.png" style="display: inline;">系统首页</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/catalog.png" style="display: inline;"><span class="text-muted">栏目管理</span></li>
            <li><a href="/admin/categories">基本栏目</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/book.png" style="display: inline;"><span class="text-muted">书籍管理</span></li>
            <li><a href="/admin/books">图书管理</a></li>
            <li><a href="/admin/articles">文章管理</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/check.png" style="display: inline;"><span class="text-muted">审核管理</span></li>
            <li><a href="">图书审核</a></li>
            <li><a href="">文章审核</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/unit.png" style="display: inline;"><span class="text-muted">组织管理</span></li>
            <li><a href="">支部管理</a></li>
            <li><a href="">单位管理</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/task.png" style="display: inline;"><span class="text-muted">任务管理</span></li>
            <li><a href="">支部任务</a></li>
            <li><a href="">全员任务</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/stat.png" style="display: inline;"><span class="text-muted">统计管理</span></li>
            <li><a href="">支部统计</a></li>
            <li><a href="">单位统计</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/setting.png" style="display: inline;"><span class="text-muted">系统风格管理</span></li>
            <li><a href="">后台设置</a></li>
            <li><a href="">手机端设置</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/announce.png" style="display: inline;"><span class="text-muted">公告／新闻管理</span></li>
            <li><a href="">公告管理</a></li>
            <li><a href="">新闻管理</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar textalign">
            <li><img class="img-responsive" src="/img/question.png" style="display: inline;"><span class="text-muted">问题反馈</span></li>
            <li><a href="">后台问题</a></li>
            <li><a href="">终端问题</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="overflow:hidden">
          <div style="margin:0px;padding: 0px; height: 500px;">
                  <iframe name="frmcontent" id="frmcontent" src="/main" style="margin:1px;padding:1px;width:100%;height: 100%" frameBorder="0"></iframe>
          </div>
        </div>

      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <!--todo 根据实际情况，显示具体版本及公司名称-->
        <p class="text-muted">版本：V0.1 demo &copy;小书包团队</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
